/* Common Styles for Body */
body {color: #e0a307;
    background-color: #23394b;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

/* Styles for Home */

/* Add this CSS to your existing style.css file */
#hero img {
    float: right;
    margin-left: 20px; /* Adjust as needed */
}

body.home {
    background-color: #e0e3e7;
}

header.home {
    background-color: #393535;
    color: #b1710a;
    padding: 15px 0;
    text-align: center;
}

.logo.home {
    border: 3px solid #080707;
    background-color: #080707;
    font-size: 1.5em;
    font-weight: bold;
}

.nav-links.home li {
    display: inline-block;
    margin-right: 20px;
}

.nav-links.home a {
    text-decoration: none;
    color: #b1710a;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links.home a:hover {
    color: #ffd700; /* Change color on hover */
}

/* Styles for About Me */
/* Common Styles for Body */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

/* Styles for About */
body.about {
    background-color: #0651ba;
}

header.about {
    background-color: #393535;
    color: #b1710a;
    padding: 15px 0;
    text-align: center;
}

.logo.about {
    border: 3px solid #080707;
    background-color: #080707;
    font-size: 1.5em;
    font-weight: bold;
}

.nav-links.about li {
    display: inline-block;
    margin-right: 20px;
}

.nav-links.about a {
    text-decoration: none;
    color: #b1710a;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links.about a:hover {
    color: #ffd700; /* Change color on hover */
}

main.about {
    padding: 20px;
}

#about.about {
    margin-bottom: 40px;
}

footer.about {
    background-color: #393535;
    color: #b1710a;
    padding: 10px 0;
    text-align: center;
}


/* Styles for My Portfolio */
/* Common Styles for Body */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

/* Styles for Portfolio */
body.portfolio {
    background-color: #23394b;
}

header.portfolio {
    background-color: #393535;
    color: #b1710A;
    padding: 15px 0;
    text-align: center;
}

.logo.portfolio {
    font-size: 1.5em;
    font-weight: bold;
    border: 3px solid #080707;
    background-color: #080707;
}

.nav-links.portfolio li {
    display: inline-block;
    margin-right: 20px;
}

.nav-links.portfolio a {
    text-decoration: none;
    color: #bf8105;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links.portfolio a:hover {
    color: #e6fb06; /* Change color on hover */
}

main.portfolio {color: #e0a307;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#about.portfolio,
#portfolio.portfolio,
#contact.portfolio {
    margin-bottom: 40px;
}

footer.portfolio {
    background-color: #393535;
    color: #e4c40c;
    padding: 10px 0;
    text-align: center;
}
