body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #393535;
    color: #e39009;
    padding: 15px 0;
    text-align: center;
}

.logo {border: 3px;background-color: #080707;
    font-size: 1.5em;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline-block;
    margin-right: 20px;
}


.nav-links a:hover {
    color: #ffd700; /* Change color on hover */
}

/* CSS for About Me */

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header, main, footer {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #b9a408;
    padding: 15px 0;
    text-align: center;
}

main {
    padding: 20px;
}

#about {
    margin-bottom: 40px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/*Styles for My Portfolio*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #333;
    color: #e4c40c;
    padding: 15px 0;
    text-align: center;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline-block;
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #bf8105;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ffd700; /* Change color on hover */
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#about, #portfolio, #contact {
    margin-bottom: 40px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
