/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh; /* Ensure body takes up at least the full height of the viewport */
    display: flex;
    flex-direction: column; /* Arrange child elements vertically */
}

/* Header Styles */
.contact {
    background-color: #333;
    color: rgb(211, 146, 17);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
}

.nav-container {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li a {
    text-decoration: none;
    color: rgb(211, 146, 17);
    padding: 10px 15px;
}

.nav-links li a:hover {
    background-color: #1026b3;
    border-radius: 5px;
}

/* Main Section Styles */
.contact main {
    flex: 1; /* Allow main section to grow and take up remaining vertical space */
    display: flex;
    flex-direction: column; /* Arrange child elements vertically */
    justify-content: flex-end; /* Align content at the bottom */
    padding: 20px;
}

.contact h1 {
    margin-bottom: 20px;
}

.contact form {
    max-width: 400px;
    margin: 0 auto;
}

.contact form label {
    display: block;
    margin-bottom: 10px;
}

.contact form input[type="text"],
.contact form input[type="email"],
.contact form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact form input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.contact form input[type="submit"]:hover {
    background-color: #555;
}
